body {
    text-align: center;
    max-width: 1000px;
}
div{
    width: 505px;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
}
h1{
    width: 50%;

}
#gameout{
    width: 100%;
    text-align: center;
}